body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h4 {
  text-align: center;
  color: #ee6e73;
}

.nagi{
 background-image: url(nagi.png);
}

.nagi-text{
 background-color: rgba(239, 83, 80, 0.3);
 color: white;
}

.card{
  height: 333px;
}


.card-image{
  height: 60%;
}

.halfway-fab{
  z-index: 1000;
}

.price{
  font-size: medium;
  color: #ee6e73;
}

.col.s3.centered{
  text-indent: 1em;
}

#imageHeader{
 background-image: url(kuroObi.png);
}

#textHeader{
 background-color: rgba(255, 255, 255, 0.3);
 color: #ef5350;
}

#footer{
  font-size: medium;
  color: #ee6e73;
}

#footer.col.s4.offset-s2{
  text-indent: 2em;
  text-align: center;
}
